{% extends "base_layout.html" %}
{% block edit %}
    <div class="container">
      <form method="POST" action="{{url_for('edit', url_id = post.url_id)}}">
         <div class="form-group">
          <textarea name="header" required class="form-control" placeholder="Заголовок" autofocus/>{{post.header}}</textarea>
        </div>
        <div class="form-group">
          <textarea name="signature" class="form-control" placeholder="Подпись"/>{{post.signature}}
          </textarea>
        </div>
        <div class="form-group">
          <textarea name="body" required class="form-control" rows="10"  placeholder="Ваша история">{{post.body}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save Edited Text</button>
        </div>
      
      </form>
    </div>
{% endblock %}
 