{% extends "base_layout.html" %}
{% block form %}
    <div class="container">
         <form method="POST" action="/create">
        <div class="form-group">
          <input name="header" required class="form-control" placeholder="Заголовок" autofocus/>
        </div>
        <div class="form-group">
          <input name="signature" class="form-control" placeholder="Подпись"/>
        </div>
        <div class="form-group">
          <textarea name="body" required class="form-control" rows="10" placeholder="Ваша история"></textarea>
        </div>
        <div class="form-group">
          <button id="sendText" type="submit">Create</button>
        </div>
      </form>
    </div><!-- /.container -->
{% endblock %}
 