{% extends "base_layout.html" %}
{% block post %}
   <div class="container">
      <form>
         <div class="form-group">
          <output name="header" class="form-control" placeholder="Заголовок" autofocus/>{{post.header}}
        </div>
        <div class="form-group">
          <output name="signature" class="form-control" placeholder="Подпись"/>{{post.signature}}
        </div>
        <div class="form-group">
          <textarea name="body" class="form-control" rows="10" disabled="disabled" placeholder="Ваша история">{{post.body}}</textarea>
        </div>
      </form>
    </div>
{% endblock %}